<h2 mat-dialog-title>Подтвердите следующие действия</h2>

<mat-dialog-content>

    <mat-checkbox class="checkbox"
                  [(ngModel)]="isUserAgree"
                  [color]="'primary'"
    >
        Даю согласие на обрабоку персональных данных
    </mat-checkbox>

    <mat-form-field class="reg-form-field" appearance="outline"  [formGroup]="phoneNumberForm"
    >
        <mat-label>Номер телефона</mat-label>
        <input matInput
               [formControlName]="'phone'"
               [required]="true"
               [placeholder]="'Для регистрации введите номер телефона'"
               [type]="'text'"
               [prefix]="'+7'"
               [mask]="'(000)-000-00-00'"
        >
    </mat-form-field>

    <mat-form-field appearance="outline"  [formGroup]="phoneNumberForm"
    >
        <mat-label>Пароль</mat-label>
        <input matInput
               [formControlName]="'password'"
               [required]="true"
        >


    </mat-form-field>

    <mat-form-field appearance="outline" [formGroup]="phoneNumberForm"
    >
        <mat-label>Подтвердите пароль</mat-label>
        <input matInput
               [formControlName]="'confirmPassword'"
               [required]="true"
        >
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="sendCode()">Отправить код</button>

    <mat-form-field class="code-field" appearance="outline" *ngIf="step===2"  [formGroup]="phoneNumberForm"
    >
        <mat-label>Код из смс</mat-label>
        <input matInput
               [formControlName]="'code'"
               [required]="true"
        >
    </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="wantToReg ? this.phoneNumberForm.value : true" [disabled]="!isUserAgree">Продолжить</button>
</mat-dialog-actions>
