<mat-form-field class="{{class}}" appearance="outline">
    <mat-label>{{label}}</mat-label>
    <input matInput
           [placeholder]="placeholder"
           [matDatepickerFilter]="filter"
           [matDatepicker]="picker"
           [disabled]="disabled"
           [value]="value"
           (change)="propagateChange($event.target.value)"
           [required]="required">
    <mat-error *ngIf="form.controls[formControlName].hasError('invalid')">Это поле обязательно</mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
