 <div class="complaint-form-header">
   <p class="header-text">Введите ваши данные</p>
 </div>

 <div class="form-section-header">ФИО</div>
 <form class="form-container" [formGroup]="fioForm">
    <ng-container *ngFor="let field of fioFields">
        <mat-form-field appearance="outline" class = "flex-grow">
            <mat-label>{{field.label}}</mat-label>
            <input matInput
                       [placeholder]="field.placeholder || ''"
                       [formControlName]="field.formControlName"
                       [required]="field.required">
       </mat-form-field>
    </ng-container>
 </form>

 <div class="form-section-header">Адрес</div>
 <form class="form-container" [formGroup]="addressForm">
     <ng-container *ngFor="let field of addressFields">

         <ng-container *ngTemplateOutlet="field.type && field.type === fieldTypes.SELECT ? select : common"></ng-container>

             <ng-template #common>
                 <mat-form-field appearance="outline" class = "flex-grow">
                     <mat-label>{{field.label}}</mat-label>
                     <input matInput
                                   [placeholder]="field.placeholder || ''"
                                   [formControlName]="field.formControlName"
                                   [required]="field.required"
                                   [disabled]="addressFieldDisabled(field.formControlName)">
                 </mat-form-field>
             </ng-template>

             <ng-template #select>
                 <app-select-field class = "flex-grow"
                         [label]="field.label"
                         [placeholder]="field.placeholder || ''"
                         [form]="addressForm"
                         [class]="'flex-grow'"
                         [formControlName]="field.formControlName"
                         [required]="field.required"
                         [disabled]="addressFieldDisabled(field.formControlName)">
                 </app-select-field>
             </ng-template>
     </ng-container>
 </form>


 <div class="form-section-header">Информация о покупке</div>
 <form class="form-container" [formGroup]="productForm">

     <ng-container *ngFor="let field of productFields" >
         <ng-container *ngTemplateOutlet="field.type && field.type === fieldTypes.DATE ? date : common "></ng-container>
            <ng-template #date>
                 <app-datepicker class = "flex-grow"
                                       [label]="field.label"
                                       [placeholder]="field.placeholder || ''"
                                       [form]="productForm"
                                       [formControlName]="field.formControlName"
                                       [required]="field.required">
                 </app-datepicker>
            </ng-template>

            <ng-template #common>
                <mat-form-field appearance="outline" class = "flex-grow">
                    <mat-label>{{field.label}}</mat-label>
                    <input matInput
                           [placeholder]="field.placeholder || ''"
                           [formControlName]="field.formControlName"
                           [required]="field.required">

                    <mat-error *ngIf="productForm?.controls[field.formControlName]?.invalid">Это поле обязательно</mat-error>
                </mat-form-field>

            </ng-template>
     </ng-container>
 </form>

 <div class="form-section-header" >Информация о продавце</div>
 <form class="form-container column-form-direction" [formGroup]="sellerInfoForm">

     <app-select-field class = "flex-grow"
                       [label]="'Адрес продавца'"
                       [placeholder]="''"
                       [form]="sellerInfoForm"
                       [class]="'flex-grow'"
                       [formControlName]="'sellerAddress'"
                       [required]="true"
                       >
     </app-select-field>


     <mat-form-field appearance="outline" class = "flex-grow">
         <mat-label>Наименование организации продавца</mat-label>
         <input matInput
                [placeholder]=""
                [required]="true"
                formControlName="sellerName"
         >
         <mat-error *ngIf="sellerInfoForm?.controls['sellerName']?.invalid">Это поле обязательно</mat-error>
     </mat-form-field>
 </form>

 <div class="form-section-header">Реквизиты</div>
 <form class="form-container" [formGroup]="credentialsForm">
     <mat-form-field appearance="outline" class = "flex-grow" *ngFor="let field of credentialsFields">
         <mat-label>{{field.label}}</mat-label>
         <input matInput
                class = "flex-grow"
                [placeholder]="field.placeholder || ''"
                [formControlName]="field.formControlName"
                [required]="field.required">
   </mat-form-field>
 </form>

     <div class="form-section-header" >Информация о банке потребителя</div>
     <form class="form-container column-form-direction" [formGroup]="consumerInfoForm">

         <mat-form-field appearance="outline" class = "flex-grow">
             <mat-label>Наименование банка потребителя</mat-label>
             <input matInput
                    [placeholder]=""
                    [required]="true"
                    formControlName="consumerBankName"
             >
             <mat-error *ngIf="consumerInfoForm?.controls['consumerBankName']?.invalid">Это поле обязательно</mat-error>
         </mat-form-field>


         <mat-form-field appearance="outline" class = "flex-grow">
             <mat-label>Корреспондентский счет</mat-label>
             <input matInput
                    [placeholder]=""
                    [required]="true"
                    formControlName="consumerBankCorrAcc"
             >
             <mat-error *ngIf="consumerInfoForm?.controls['consumerBankCorrAcc']?.invalid">Это поле обязательно</mat-error>
         </mat-form-field>
     </form>

 <div class="form-container form-button">
  <button  (click)="fakeSend()" mat-raised-button color="primary" >Мок для тестирования</button>
  <button  (click)="checkInfo()" mat-raised-button color="primary" >Сгенерировать документ</button>
 </div>

