 <div class="complaint-form-header">
   <p class="header-text">Введите ваши данные</p>
 </div>


 <form class="form-container" [formGroup]="fioForm">
   <div class="form-section-header">ФИО</div>
    <ng-container *ngFor="let field of fioFields">
       <app-input-form-field
                       [label]="field.label"
                       [placeholder]="field.placeholder || ''"
                       [form]="fioForm"
                       [formControlName]="field.formControlName"
                       [required]="field.required">
       </app-input-form-field>
    </ng-container>
 </form>

 <form class="form-container" [formGroup]="addressForm">
   <div class="form-section-header">Адрес</div>
     <ng-container *ngFor="let field of addressFields">

         <ng-container *ngTemplateOutlet="field.type && field.type === fieldTypes.SELECT ? select : common"></ng-container>

             <ng-template #common>
                   <app-input-form-field
                                   [label]="field.label"
                                   [class]="'w-48'"
                                   [placeholder]="field.placeholder || ''"
                                   [form]="addressForm"
                                   [formControlName]="field.formControlName"
                                   [required]="field.required">
                   </app-input-form-field>
             </ng-template>

             <ng-template #select>
                 <app-select-field
                         [label]="field.label"
                         [class]="'w-48'"
                         [placeholder]="field.placeholder || ''"
                         [form]="addressForm"
                         [formControlName]="field.formControlName"
                         [required]="field.required">
                 </app-select-field>
             </ng-template>
     </ng-container>
 </form>
 <form class="form-container" [formGroup]="productForm">
   <div class="form-section-header">Информация о покупке</div>

     <ng-container *ngFor="let field of productFields" >
         <ng-container *ngTemplateOutlet="field.type && field.type === fieldTypes.DATE ? date : common "></ng-container>
            <ng-template #date>
                 <app-datepicker
                                       [label]="field.label"
                                       [placeholder]="field.placeholder || ''"
                                       [form]="productForm"
                                       [formControlName]="field.formControlName"
                                       [required]="field.required">
                 </app-datepicker>
            </ng-template>

            <ng-template #common>
                   <app-input-form-field
                                   [label]="field.label"
                                   [placeholder]="field.placeholder || ''"
                                   [form]="productForm"
                                   [formControlName]="field.formControlName"
                                   [required]="field.required">
                   </app-input-form-field>
            </ng-template>
     </ng-container>
 </form>

 <form class="form-container" [formGroup]="credentialsForm">
   <div class="form-section-header">Реквизиты</div>

   <app-input-form-field *ngFor="let field of credentialsFields"
                   [label]="field.label"
                   [placeholder]="field.placeholder || ''"
                   [form]="credentialsForm"
                   [formControlName]="field.formControlName"
                   [required]="field.required">
   </app-input-form-field>
 </form>

 <div class="form-container form-button">
  <button  (click)="fakeSend()" mat-raised-button color="primary" >Мок для тестирования</button>
 </div>

